<div class="ui segment">
  <div class="ui floating dropdown labeled icon button">
    <i class="code branch icon"></i>
    <span class="text">Κλάδοι</span>

    <div class="menu">
      <div class="item">Κλάδος 1</div>
      <div class="item">Κλάδος 2</div>
    </div>
  </div>
</div>

<script>
  $('.ui.dropdown').dropdown();
</script>
